
@{
    ViewBag.Title = "Index";
}

<h2>Ana Sayfa</h2>
<h4>Get Methodu</h4>
kullanımı için @Html.ActionLink("Tıklayınız", "kayitlar");

<h4>Post Methodu</h4>
kullanımı için @Html.ActionLink("Tıklayınız", "Hesapla");

